<nav class="navbar navbar-expand-md navbar-light bg-light" id = "myHeader">
    <a class="navbar-brand" href="/"><span class="red">Scavenger Hunt</span></span></a>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto mt-2">
            <li class="nav-item"><a id="navbar-rules" class="nav-link" href="rules.html">Game Rules</a></li>
            <li class="nav-item"><a id="navbar-task" class="nav-link" href="task.html">Task Library</a></li>
            <li class="nav-item"><a id="navbar-leaderboard" class="nav-link" href="leaderboard.html">Leaderboard</a></li>
            <li class="nav-item"><a id="navbar-contact" class="nav-link" href="contact.html">Contact Us</a></li>
            <li class="nav-item"><a id="navbar-userhunts" class="nav-link" href="userhunts.html">My Hunts</a></li>
            <li class="nav-item"><a id="navbar-logout" class="nav-link" onclick="logout()" href="">Logout</a></li>
        </ul>
    </div>
</nav>

