<nav class="navbar navbar-expand-md navbar-light bg-light" id = "myHeader">
    <a class="navbar-brand" href="/"><span class="red">Scavenger Hunt</span></span></a>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="<?php echo $home_link;?>rules.html">Game Rules</a></li>
            <li class="nav-item"><a class="nav-link" href="<?php echo $home_link;?>task.html">Task Library</a></li>
            <li class="nav-item"><a class="nav-link" href="<?php echo $home_link;?>leaderboard.html">Leaderboard</a></li>
            <li class="nav-item"><a class="nav-link" href="<?php echo $home_link;?>contact.html">Contact Us</a></li>
            <li class="nav-item"><a class="nav-link" href="<?php echo $home_link;?>register.html">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="l<?php echo $home_link;?>ogin.html">Log In</a></li>
        </ul>
    </div>
</nav>

