<tr>
    <td class="hide"><?php echo $id;?></td>
    <td contenteditable="false"><?php echo $task;?></td>
    <td contenteditable="false"><?php echo $param;?></td>
    <td contenteditable="false"><?php echo $proof;?></td>
    <td contenteditable="false"><?php echo $score;?></td>
    <td contenteditable="false"><?php echo $descr;?></td>
    <td>
        <span class="clickable glyphicon glyphicon-pencil" onclick="editable(this, 1)"/>
    </td>
    <td><span class="table-remove glyphicon glyphicon-remove" onclick="removeRow(this, 1)"></span>
    </td>
</tr>
