<tr>
  <td>
    <img src="../../proof/<?php echo $proofFilename; ?>" onclick="openModal('image', '../../proof/<?php echo $proofFilename; ?>')" style="width: 100px;"/>
  </td>
  <td><?php echo $taskName; ?></td>
  <td><?php echo $taskDescription; ?></td>
  <td><?php echo $taskParameter; ?></td>
  <td class="validation" proof_id='<?php echo $proofId; ?>' hunt_instr_id='<?php echo $huntInstrId; ?>' uploader_id='<?php echo $uploaderId; ?>'>
    <input type="radio" name='<?php echo $proofId; ?>' id='correct' value="yes"> Correct
    <input type="radio" name='<?php echo $proofId; ?>' id='incorrect' value="no"> Incorrect
  </td>
</tr>
